<div class="container">
<h1> <%=@restaurant.name%> </h1>

<h4>Address: <%=@restaurant.address%></h4>
<h4>Category: <%=@restaurant.category%></h4>
<ul class="list-group">
  <% @restaurant.reviews.each do |review| %>
    <li class="list-group-item"><%= review.content %></li>
  <% end %>
</ul>

<%= link_to "Back to list", restaurants_path, class: 'btn btn-primary' %>
<%= link_to "Leave a comment", new_restaurant_review_path(@restaurant), class: 'btn btn-danger'%>
<%= link_to "Delete restaurant",
              restaurant_path(@restaurant),
              method: :delete,
              data: { confirm: "Are you sure?" }, class: 'btn btn-danger' %>
</div>
